<%- include("partials/header") %>

<body>
    <div id="container">
        <h1>GETTER DONE !<i class="fa fa-plus" aria-hidden="true"></i></h1>
        <input type='text'placeholder="Add New To-Do" maxlength="40">

        <ul>
            <li><span><i class="fa fa-trash"></i></span> Sample Item 1</li>
            <li><span><i class="fa fa-trash"></i></span> Sample Item 2</li>
            <li><span><i class="fa fa-trash"></i></span> Sample Item 3</li>
            <li><span><i class="fa fa-trash"></i></span> Click Item to Mark as Complete</li>
            <li><span><i class="fa fa-trash"></i></span> Click Trash Icon to Remove</li>
            <li><span><i class="fa fa-trash"></i></span> And the List Goes On!</li>
        </ul>
    </div>

<%- include("partials/footer") %>